name: Python CI

on:
  push:
    branches: [ main, Database, Internal-staff, Resident, Security, System-administrator ]
  pull_request:
    branches: [ main, Database, Internal-staff, Resident, Security, System-administrator ]

jobs:  
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Set up Python
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

       # 4. Run tests
      - name: Run tests
        run: |
          if [ -d tests ]; then pytest; else echo "No tests folder found, skipping tests"; fi

      # 5. Lint code (optional)
      - name: Lint code
        run: |
          pip install flake8
          flake8 .
